<footer>
  <div class="grid col" style="height: 480px; background-color: white; padding-top: 80px; position: relative;">
    <div class="grid col p-dir-md-row justify-content-between p-ai-start" style="padding: 0 60px;">
      <div style="width: 292px;">
        <div style="font-size: 1.875rem; font-weight: bold; margin-right: 64px; cursor: pointer; color: #1E3A8A;"><span>MTS Automotive</span></div>
        <div style="margin-top: 1rem; color: rgba(55, 65, 81, 0.6);">Your Journey, Your Way. Unleash the road ahead with our rentals. Elevate your drive, explore with ease.</div>
      </div>
      <div>
        <table style="height: 244px; width: 100%; max-width: 600px;">
          <thead style="height: 60px;">
            <tr>
              <th>About</th>
              <th>Community</th>
              <th>Socials</th>
            </tr>
          </thead>
          <tbody style="color: rgba(55, 65, 81, 0.6);">
            <tr>
              <td>How it works</td>
              <td>Events</td>
              <td>Discord</td>
            </tr>
            <tr>
              <td>Featured</td>
              <td>Blog</td>
              <td>Instagram</td>
            </tr>
            <tr>
              <td>Partnership</td>
              <td>Podcast</td>
              <td>Twitter</td>
            </tr>
            <tr>
              <td>Business Relation</td>
              <td>Invite a friend</td>
              <td>Facebook</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="margin-top: 70px; padding: 0 60px;"><hr></div>
    <div class="p-grid p-jc-between p-ai-center" style="margin-top: 30px; padding: 0 60px; font-weight: bold;">
      <div>©2022 MTS. All rights reserved</div>
      <div class="p-grid p-jc-between" style="width: 350px;">
        <a>Privacy & Policy</a>
        <a>Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
