<footer>
  <div class="h-20rem bg-white pt-5 relative">
    <div class="px-8 flex justify-content-between md:flex-row flex-wrap">
      <div class="w-40rem align text-left">
        <div class="text-blue-600 text-3xl font-bold mr-5 cursor-pointer">
          <span>MTS Automotive</span>
        </div>
        <div class="mt-4 text-gray-800 opacity-60">
          Your Journey, Your Way. Unleash the road ahead with our rentals.
          Elevate your drive, explore with ease.
        </div>
      </div>
      <div>
        <table class="h-10rem md:w-30rem w-20rem text-left">
          <thead class="h-3rem">
            <tr>
              <th>About</th>
              <th>Community</th>
              <th>Socials</th>
            </tr>
          </thead>
          <tbody class="text-gray-800 opacity-60">
            <tr>
              <td>How it works</td>
              <td>Events</td>
              <td>Discord</td>
            </tr>
            <tr>
              <td>Featured</td>
              <td>Blog</td>
              <td>Instagram</td>
            </tr>
            <tr>
              <td>Partnership</td>
              <td>Podcast</td>
              <td>Twitter</td>
            </tr>
            <tr>
              <td>Bussiness</td>
              <td>Invite a friend</td>
              <td>Facebook</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mt-7 px-6"><hr /></div>
    <div class="mt-2 flex justify-content-between px-6 font-bold">
      <div>©2024 MTS. All rights reserved</div>
      <div class="w-19rem flex justify-content-between">
        <a>Privacy & Policy</a>
        <a>Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
