<footer>
  <div class="h-[480px] bg-white pt-[80px] relative">
      <div class=" px-[60px] flex justify-between flex-col md:flex-row">
          <div class="w-[292px] align text-left">
              <div class="text-blue-dark text-3xl font-bold mr-[64px]cursor-pointer"><span>DM</span></div>
              <div class="mt-4 text-grey-darker/60">Our vision is to provide convenience and help increase your sales business.</div>

          </div>
          <div>
              <table class="h-[244px] table-fixed md:w-[600px] w-[300px] text-left">
                  <thead class="h-[60px]">
                      <tr>
                      <th>About</th>
                      <th>Community</th>
                      <th>Socials</th>
                      </tr>
                  </thead>
                  <tbody class="text-grey-darker/60">
                      <tr>
                          <td>How it works</td>
                          <td>Events</td>
                          <td>Discord</td>
                      </tr>
                          <tr>
                          <td>Featured</td>
                          <td>Blog</td>
                          <td>Instagram</td>
                      </tr>
                          <tr>
                          <td>Partnership</td>
                          <td>Podcast</td>
                          <td>Twitter</td>
                      </tr>
                          <tr>
                          <td>Bussiness Relation</td>
                          <td>Invite a friend</td>
                          <td>Facebook</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="mt-[70px] px-[60px]"><hr></div>
      <div class="mt-[30px] flex justify-between align-middle px-[60px] font-bold">
          <div>©2022 DM. All rights reserved</div>
          <div class="w-[350px] flex justify-between">
              <a>Privacy & Policy</a>
              <a>Terms & Conditions</a>
          </div>
      </div>
  </div>
</footer>
