<main class="main">
  <app-header (search)="getCars($event)"></app-header>
  <div class="flex justify-content-between" style="margin: 2% 8%;">
    <div class="text-grey-standard">Popular Cars</div>
    <div class="text-blue-dark font-semibold cursor-pointer">View All</div>
  </div>
  <app-cars-list [cars]="popularCars"></app-cars-list>
  <div class="flex justify-content-between" style="margin: 2% 8%;">
    <div class="text-grey-standard">Recomendation Car</div>
  </div>
  <app-cars-list [cars]="cars"></app-cars-list>
  @if(!lastPage){
  <p-button label="Show more car" (click)="getMoreCars(textoBuscar)"></p-button>
  }
</main>
