<main class="main">
  @if(!lastSearch) {
  <div class="flex justify-content-between" style="margin: 2% 8%">
    <div class="text-grey-standard">Popular Cars</div>
    <div class="text-blue-dark font-semibold cursor-pointer">View All</div>
  </div>
  <app-cars-list [cars]="popularCars"></app-cars-list>
  }
  <div class="flex justify-content-between" style="margin: 2% 8%">
    <div class="text-grey-standard">Recomendation Car</div>
  </div>
  <app-cars-list [cars]="cars"></app-cars-list>
  @if(!lastPage){
    <div class="justify-content-center flex align-items-center mb-6"><p-button label="Show more car" (click)="getMoreCars(textoBuscar)"></p-button></div>
  }
</main>
